.segundoComp {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 144px;
    height: 186px;
    background-color: #414865;
    border-radius: 15px;
}